<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-hero">
      <div class="component-container1">
        <h1 class="component-text">
          <span>Magnificent things are very simple</span>
        </h1>
        <span class="component-text01">
          <span>
            <span>
              Hyreus is a platform which aims to uplift unorganised workers in
              the f
            </span>
          </span>
          <span><span>orm of regular and stable</span></span>
          <br />
          <span>
            <span>employment and protection from exploitation, </span>
          </span>
          <span>
            <span>which will eventually lead to a better quality of life</span>
          </span>
          <br />
          <span><span>for them</span></span>
          <br />
          <br />
          <span>
            <span>
              Hyreus works by helping unorganised workers in preparing their
              profiles by collecting and organising
            </span>
          </span>
          <br />
          <span><span>their data,</span></span>
          <span>
            <span>
              which may include the experiences and skills that the worker has
              gained from their previous
            </span>
          </span>
          <br />
          <span><span>work,</span></span>
          <span>
            <span>
              a review from previous employers, their family tree, medical
              history,
            </span>
          </span>
          <span><span>schedules and the kind of</span></span>
          <br />
          <span><span>work they are interested in.</span></span>
          <br />
          <br />
          <span>
            <span>
              We combine all these attributes to create the ideal profile for
              the workers in our database which will
            </span>
          </span>
          <br />
          <span><span>be accessible on our app and website.</span></span>
          <br />
          <br />
          <span>
            <span>
              Our Database software is programmed to match the employers’
              requirements with suitable worker
            </span>
          </span>
          <br />
          <span>
            <span>
              profiles using criteria like schedules, flexibilities and skill
              sets. The worker profiles that are best fitted to
            </span>
          </span>
          <br />
          <span>
            <span>
              the employer’s requirements are automatically suggested to them
              using different sorting techniques.
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              After the employer has selected the workers they are interested in
              hiring, hyreus schedules an interview between the worker and the
              employer. If the employer chooses to hire the worker, we draw up a
              contract for the employment terms to be signed by all parties
              involved, which would include the discussed terms of the
              employment.
            </span>
          </span>
        </span>
        <div class="component-btn-group">
          <a href="work-with-us.html" class="component-navlink button Gradient">
            <span>Get Started</span>
          </a>
          <button class="component-button button Gradient">
            <span>Learn More</span>
          </button>
        </div>
      </div>
      <img
        alt="image"
        src="public/playground_assets/whatsapp%20image%202022-10-20%20at%2012.53.59%20am-1200w.jpeg"
        class="component-image"
      />
    </div>
  </div>
</div>
